:root {
  --butter-yellow: #fdc824;
  --butter-dark: #1d2939;
  --butter-gray: #475467;
  --butter-light-gray: #f9fafb;
  --butter-border: #e4e7ec;
  --text-primary: #101828;
  --text-secondary: #475467;
  --success: #12b76a;
  --warning: #f79009;
  --error: #f04438;
}
