name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup pnpm 10
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node 24
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - name: Clean install Node dependencies
        run: pnpm i --frozen-lockfile

      - name: Build production files
        run: pnpm run build

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist