name: qa

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on: [pull_request]

jobs:
  qa:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup pnpm 10
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node 24
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - name: Clean install Node dependencies
        run: pnpm i --frozen-lockfile

      - name: Type check
        run: pnpm run typecheck

      - name: Run unit tests
        run: pnpm run test:unit

      - name: Build production files
        run: pnpm run build